<div class="uk-padding-small" style="white-space: pre-line;" id="text-container">
    <h1 class="uk-width-3-5 uk-text-break uk-text-emphasis uk-text-center" style="margin: 0 auto">{{book.name}}</h1>
    <p id="colored-text">
        {{book.text}}
    </p>

    <form class="uk-flex uk-flex-around uk-flex-bottom uk-position-bottom uk-position-fixed uk-padding-small" style="background: black; width: 85%; margin-left: 15%;">
            
        <div class="uk-width-3-5">
            <label class="uk-form-label" style="margin:0; color: white">Available voices</label>
            <select style="margin:0; background: #9E9E9E; border: none; color: white" class="uk-width-3-5 uk-select uk-border-rounded">
                <option>Voice 01</option>
                <option>Voice 02</option>
            </select>
        </div>

            <div class="uk-width-3-5 uk-flex uk-padding-small uk-border-rounded" style="background-color: #9E9E9E;">
                <button type="button" class="uk-flex" style="background-color: #9E9E9E; border: none">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.9802 5.65869L3.98543 0.314698C2.15438 -0.664326 0 0.759506 0 2.94867V13.0513C0 15.2405 2.15438 16.6643 3.98542 15.6853L13.9802 10.3413C15.7844 9.37664 15.7844 6.62336 13.9802 5.65869Z" fill="#222222"/>
                    </svg>
                </button>
            </div>
        
        </div>
    </form>
</div>
