<h1 class="uk-width-1 uk-text-center uk-margin">SETTINGS</h1>

<form class="uk-width-4-5 uk-margin-large-top uk-border-rounded" style="margin: 20px auto; padding: 50px 100px;">
    <div class="uk-flex uk-flex-around uk-width-4-5" style="margin: 40px auto">
        <p class="uk-width-expand">Reading speed</p>
        <div class="uk-flex uk-flex-center uk-width-4-5">
            <label>
                <input type="radio" name="speed_changer" class="uk-botton uk-border-rounded" value="0,25" style="margin: 0 5px; width: 50px">
                0,25x
            <label>

            <label>
                <input type="radio" name="speed_changer" class="uk-botton uk-border-rounded" value="0,5" style="margin: 0 5px; width: 50px">
                0,5x
            <label>

            <label>
                <input type="radio" name="speed_changer" class="uk-botton uk-border-rounded" value="1" style="margin: 0 5px; width: 50px">
                1x
            <label>

            <label>
                <input type="radio" name="speed_changer" class="uk-botton uk-border-rounded" value="1,25" style="margin: 0 5px; width: 50px">
                1,25x
            <label>

            <label>
                <input type="radio" name="speed_changer" class="uk-botton uk-border-rounded" value="1,5" style="margin: 0 5px; width: 50px">
                1,5x
            <label>

        </div>
    </div>

    <div class="uk-flex uk-flex-around uk-width-4-5" style="margin: 40px auto">
        <p class="uk-width-expand">Text color</p>
        <div class="uk-flex uk-flex-center uk-width-4-5">
            <input type="color" name="text_color" value="#e66465" />
        </div>
    </div>

    <div class="uk-text-right">
        <button class="uk-button uk-border-rounded" type="submit">Save</button>
    </div>

</form>